{% load static %}

{% block page_title %}

{% endblock %}



{% block page_header %}
    <table>
        <tbody>
        <tr>
            <td class="img">
                <img src="D:\Informatica\Django\Proyect Django\My Personal Proyect\CirculoInfantil\static\logo.png"
                     alt="Logo">
                <h2>Círculo Infantil Hermanos Vena</h2>
                <h3>Municipio: San Juan y Martínez</h3>
            </td>
            <td class="name">
                <p>Fecha: {{ data }}</p>
            </td>
        </tr>
        </tbody>
    </table>
    <h1 style="text-align: center">Inventario según salón</h1>
{% endblock %}


{% block content %}
    <table border="1">
        <thead>
        <tr>
            <td colspan="2">Salón número {{ room.room_number }}</td>
        </tr>
        <tr>
            <td>Nombre del artículo</td>
            <td>Valor</td>
        </tr>
        </thead>
        <tbody>
        {% if articulos %}
            {% for i in articulos %}
                <tr>
                    <td>{{ i.name_article }}</td>
                    <td>{{ i.value }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2"> No existen artículos en este salón</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <p style="text-align: right">Firma del Director________________________________</p>
    <style type="text/css">
        thead tr td {
            font-weight: bold;
        }

        td {
            text-align: center;
            padding: 3px;
        }

        .img {
            width: 150px;
            height: 150px;
            text-align: left;
        }

        .name {
            text-align: right;
        }
    </style>
{% endblock %}