{% load static %}

{% block page_title %}

{% endblock %}



{% block page_header %}
    <table>
        <tbody>
        <tr>
            <td class="img">
                <img src="D:\Informatica\Django\Proyect Django\My Personal Proyect\CirculoInfantil\static\logo.png"
                     alt="Logo">
                <h2>Círculo Infantil Hermanos Vena</h2>
                <h3>Municipio: San Juan y Martínez</h3>
            </td>
            <td class="name">
                <p>Fecha: {{ data }}</p>
            </td>
        </tr>
        </tbody>
    </table>
    <h1 style="text-align: center">Reporte segun enfermedad</h1>
{% endblock %}


{% block content %}
    <table border="1">
        <thead>
        <tr>
            <td colspan="6">{{ enferm.name_disease }}</td>
        </tr>
        <tr>
            <td>Nombre del niño</td>
            <td>Edad</td>
            <td>Peso</td>
            <td>Altura</td>
            <td>Sexo</td>
            <td>No. Salón</td>
        </tr>
        </thead>
        <tbody>

        {% if childs %}
            {% for i in childs %}
                <tr>
                    <td>{{ i.name_child }}</td>
                    <td>{{ i.age }}</td>
                    <td>{{ i.weight }}</td>
                    <td>{{ i.height }}</td>
                    <td>{{ i.sexo }}</td>
                    <td>{{ i.room }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6"> No existen niños con esta enfermedad</td>
            </tr>
        {% endif %}

        </tbody>
    </table>
    <p style="text-align: right">Firma del Director________________________________</p>
    <style type="text/css">
        thead tr td {
            font-weight: bold;
        }

        td {
            text-align: center;
            padding: 3px;
        }

        .img {
            width: 150px;
            height: 150px;
            text-align: left;
        }

        .name {
            text-align: right;
        }
    </style>
{% endblock %}