{% load static %}

{% block page_title %}

{% endblock %}



{% block page_header %}
    <h1 style="text-align: center">Reporte segun intolerancia</h1>
{% endblock %}


{% block content %}
    <table border="1">
        <thead>
        <tr>
            <td colspan="6">{{ intole.name_intolerance }}</td>
        </tr>
        <tr>
            <td>Nombre del niño</td>
            <td>Edad</td>
            <td>Peso</td>
            <td>Altura</td>
            <td>Sexo</td>
            <td>NO. Salon</td>
        </tr>
        </thead>
        <tbody>
        {% if childs %}
            {% for i in childs %}
                <tr>
                    <td>{{ i.name_child }}</td>
                    <td>{{ i.age }}</td>
                    <td>{{ i.weight }}</td>
                    <td>{{ i.height }}</td>
                    <td>{{ i.sexo }}</td>
                    <td>{{ i.room }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6"> No existen niños con esta intolerancia</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <style type="text/css">
        thead tr td {
            font-weight: bold;
        }

        td {
            text-align: center;
            padding: 3px;
        }
    </style>
{% endblock %}